.ticket {
  padding: 5px;
  margin: 0 3px;

  border: 2px solid black;
  border-radius: 10px;

  background-color: #ffffff;

  .manage-panel {
    padding-right: 5px;
    padding-left: 15px;
    display: flex;
    justify-content: space-between;
    align-items: end;
  }

  .main-content {
    border-top: 1px solid black;
    margin-top: 3px;
  }
}



