.header {
  background-color: gray;

  .title-box {
    text-align: center;

    .title {
      color: black;
    }

    .right-header {
      background-color: #ff0000;
    }

    .left-header {
      background-color: #ff5b00;
    }
  }
}

